
.container{
    display: flex;
    width: 95%;
    flex-direction: column;
    margin: 20px;
    
}
.task-header{
}
.task-content{
}
.title{
    font-size: 24px;
    box-sizing: border-box;
    font-weight: 700;
}
.taskbtn {
    width: 100%;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    text-align: start;
    
}
.taskbtn.add{
    color: #fff;
    background-color:#171c21 ;
    height: 40px;

}
.taskbtn.task-item{
    display: flex;
    height: 50px;
    background-color: #eef2f6;
    justify-content:space-between;
    margin-top: 6px;
}
input[type="checkbox"] {
    appearance: none; 
    background-color: #fff; 
    border: 2px solid #8c949b; 
    border-radius: 50%; 
    cursor: pointer; 
    height: 18px; 
    width: 18px; 
    margin-right: 10px; 
    position: relative; 
}

/* Hiệu ứng khi checkbox được chọn */
input[type="checkbox"]:checked {
    background-color: #000; 
    border-color: #000; 
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M10.165 17.527 4.66 12.243l1.707-1.756 3.765 3.593 7.47-7.607 1.738 1.723z'/%3E%3C/svg%3E");
}

.taskbtn_left{
    display: flex;
    align-items: center;
}
.taskbtn_right{
    display: flex;
    align-items: center;
}

.taskbtn.add:hover {
  background-color: #364049;
}
.task_button{
    border: none;
}
.task_button:focus {
    outline: none; 
    box-shadow: none; 
}